
form { 
	padding: 20px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	padding-right: 50px; 
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; }

#messages li { 
	padding: 5px 10px;
 }

#messages li:nth-child(odd) { 
	background: #eee; 
}

#container {
	width: 700px;
	margin: :0 auto;
}

#mainWrapper {
	/*display: none;*/
}

#chatWrapper {
	float: left;
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f4f4f4;
	padding: 10px;
}

#userWrapper {
	float: left;
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f4f4f4;
	padding: 10px;
	margin-left: 20px;
	width: 150px;
	max-height: 200px;
}

#nickNameWrapper {	
	/*display: none;*/
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f4f4f4;
	padding: 10px;
	margin-left: 20px;
}